<div>
<h1>Listado de Productos</h1>
<input type="search" ng-model="buscador" placeholder="Buscar Usuario">
<table class='table table-hover table-responsive' id="listaPersonas">
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Precio </th>
            <th> Borrar </th>
        </tr>
    </thead>
    <tr ng-repeat="Prod in ListadoParam | filter:buscador as resultado">

        <td>{{Prod.descripcion_Producto}}</td>
        <td>{{Prod.precio_Producto}}</td>
        <td>
            <button class='btn btn-danger' name='Borrar' ng-click="Borrar(Prod.id_Producto)">   
            <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button>
        </td>
    </tr>
</table>
<div ng-if="resultado.length==0">
    No hay Productos con ese critero.
</div>
</div>