<div>
<h1>Listado de Usuarios</h1>
<input type="search" ng-model="buscador" placeholder="Buscar Usuario">
<table class='table table-hover table-responsive' id="listaPersonas">
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Mail </th>
            <th> Rol </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tr ng-repeat="persona in ListadoParam | filter:buscador as resultado">

        <td>{{persona.nombre_usuario}}</td>
        <td>{{persona.mail_usuario}}</td>
        <td>{{persona.descripcion_rol}}</td>persona.id_usuario
        <td>
            <button class='btn btn-danger' name='Borrar' ng-click="clickBorrar()">   
            <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button>
        </td>

        <td>
            <button class='btn btn-warning' name='Modificar' ng-click="modificar(persona)">
            <span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button>
        </td>

    </tr>
</table>
<div ng-if="resultado.length==0">
    No hay personas con ese critero.
</div>
</div>