<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Laboratorio IV</h1>
                    <h3>Segundo Parcial</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p class="copyright text-muted small">Axel Cores. Segundo Parcial 2016-11-17</p>
</footer>